body {
  margin: 0px;
}
#box,
#panel {
  display: inline-block;
  box-shadow: 1px 1px 10px #808080;
  vertical-align: top;
  margin: 20px;
}
#box {
  width: 500px;
  height: 500px;
  display: inline-block;
}
#panel {
  width: 300px;
}
#panel div {
  box-shadow: 0px 0px 10px #e6e6e6;
  margin: 20px;
}
#panel #circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
#panel #sample {
  width: 100px;
  height: 100px;
}
#panel #hsl,
#panel #rgb {
  margin: 20px;
}
