
body
  margin 0px

#box, #panel
  display inline-block
  box-shadow 1px 1px 10px gray
  vertical-align top
  margin 20px
  
#box
  width 500px
  height 500px
  display inline-block

#panel
  width 300px

  div
    box-shadow 0px 0px 10px hsl(0,0,90)
    margin 20px

  #circle
    width 200px
    height 200px
    border-radius 100px

  #sample
    width 100px
    height 100px

  #hsl, #rgb
    margin 20px